
*
{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

body
{
    font-family: "Poppins", sans-serif;
}

main
{
    padding: 20px;
}

a
{
    text-decoration: none;
}

ul
{
    list-style: none;
}

.header
{
    background-color: var(--background-color);
    box-shadow: 1px 1px 5px 0px var(--grey);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.logo
{
    display: inline-block;
    color: var(--primary-color);
    font-size: 60px;
    margin-left: 60px;
    margin-top: 1.8rem;
}

.nav
{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--background-color);
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
}

.menu a
{
    display: block;
    padding: 30px;
    color: var(--primary-color);
    transition: color 0.3s ease;
}

.menu a.active {
  color: var(--pink-light); /* active / clicked color */
  font-weight: bold;
}


.menu a:hover
{
    background-color: var(--pink-light);
}

.hamb
{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
    margin-right: 40px;
}


.hamb-line 
{
    background: var(--primary-color);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    
}

.hamb-line::before,
.hamb-line::after
{
    background: var(--primary-color);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before
{
    top: 5px;
}

.hamb-line::after
{
    top: -5px;
}

.side-menu 
{
    display: none;
}

.side-menu:checked ~ nav
{
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line 
{
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before 
{
    transform: rotate(-45deg);
    top:0;
}

.side-menu:checked ~ .hamb .hamb-line::after 
{
    transform: rotate(45deg);
    top:0;
}

@media (min-width: 768px)
{
    .nav
    {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .menu li
    {
        float: left;
    }

    .menu a:hover
    {
        background-color: transparent;
        color: var(--pink-light)
    }

    .hamb
    {
        display: none;
    }
    
}

.menu li button {
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    padding: 30px;
    margin-right: 30px;
}

#dark-mode-toggle{
    margin-top: -5px;
}


